/* reset general */
body {
    margin: 0;
    padding: 0;
    background-color: #FAFBF6;
    font-family: "Roboto", sans-serif;
}

/* Navbar */
.navbar {
    background-color: #484B47 !important;
}

.navbar-brand {
    font-size: 1.3rem;
    letter-spacing: 2px;
}

/* Formulario */
.form-control {
    border: none;
    border-bottom: 1px solid #484B47;
    border-radius: 0;
    background-color: transparent;
}

/* Botón */
.btn-dark {
    background-color: #484B47;
    border-radius: 50px;
    padding: 12px;
}

/* Footer */
footer {
    background-color: #F0EFE9;
    padding: 40px 20px;
    text-align: center;
}
