:root {
    --colortextos: #484B47;
    --colorhover: #B46141;
}

/* reset general */
body {
    margin: 0;
    padding: 0;
    background-color: #FAFBF6;
    font-family: 'Montserrat', sans-serif;
    padding-top: 85px;
}

/* navbar */
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
} 
.logo-navbar {
  width: 120px;
  height: auto;
}
.nav-link {
  font-weight: 500; 
  font-size: 14px;
  color: var(--colortextos);
}
.nav-link:hover {
  color: var(--colorhover) ;
}
.icons i{
  color: var(--colortextos);
}
.icons i:hover {
  color: var(--colorhover);
}

/*para que nav sea pisado por el banner*/
.custom-navbar {
    background-color: #FAFBF6; /* Usa el mismo color del body o blanco */
    
}

/* Asegura que el banner esté por debajo de la navegación */
#bannerOrigenes {
    z-index: 1;
    position: relative; /* Necesario para que el z-index funcione */
}

/* Estilos para el Banner */
#bannerOrigenes {
    width: 100%;
    overflow: hidden;
    /* Ajusta la altura máxima para que no ocupe toda la pantalla si no lo deseas */
    max-height: 500px; 
}

.banner-img {
    object-fit: cover; /* Esto evita que las imágenes se deformen */
    height: 500px;    /* Altura fija para mantener uniformidad */
    width: 100%;
}

/* Personalización de los controles para que combinen con tu paleta */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) grayscale(100) brightness(0.5); /* Hace los iconos oscuros si el fondo es claro */
}

.carousel-indicators [data-bs-target] {
    background-color: var(--colorhover); /* Usa tu color de marca para los indicadores */
}



